* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
} 

body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;

    background-color: var(--White);
    line-height: 1.5rem;
    font-size: .9375rem;

    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 2vw top 0vh,left 27vw top 200vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 650px;
    width: 80%;
    margin: 5em auto;
}

header .header-content {
    margin-bottom: 3em;
    text-align: center;
}

header .header-content h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 2.5rem;
    max-width: 300px;
    line-height: 3rem;
    margin: 0  auto 2rem;
}

header .star-icon{
    background-color: hsla(303, 10%, 53%, 0.2);
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
    border-radius: 10px;
    font-weight: 700;
}

section figure {
    background-color: var(--Very-Dark-Magenta);
    color: hsla(300, 24%, 96%, 0.8);
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    font-weight: 500;
}

.figure-header {
    display: flex;
    margin-bottom: 1em;
    gap: 1em;
} 

.figure-header p{
    align-self: center;
}

.figure-header .Verified-buyer {
    display: block;
    color: var(--Soft-Pink);
}

.figure-header img {
    max-width: 20%;
    border-radius: 50%;
}

@media only screen and (min-width: 1100px) {
    body {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat,no-repeat;
        background-position: right 140vh top 0, left 20vw top 25vh;
    }

    .container {
        max-width: 1440px;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header .header-content {
        text-align: left;
    }
    
    header .header-content h1 {
        margin: 0  0 2rem;
    }

    header .header-content p {
        max-width: 450px;
    }
    

    .star-icon div {
        margin-right: .75em;
    }

    .star-icon {
        display: flex;
        gap: .5em;
    }

    .star-icon1 {
        margin-right: 3em;
    }

    .star-icon2 {
        margin-right: 1.5em;
        margin-left: 1.5em;
    }

    .star-icon3 {
        margin-left: 3em;
    }

    section {
        display: flex;
        gap: 1.5em;
    }

    .first-figure {
        margin-bottom: 3em;
    }

    .second-figure {
        margin: 1.5em 0 2em 0;
    }

    .third-figure {
        margin-top: 3em;
    }
}
